pyserial==3.5
mysql==0.0.3
mysqlclient==2.1.1
mysql-connector-python==8.0.33
requests==2.30.0
paho-mqtt==1.6.1
pyudev==0.24.1
jproperties==2.1.1
pygame==2.4.0
scipy==1.10.1
ipykernel
shapely
tensorflow==2.13.0
tensorflow-io==0.33.0
pydub
scikit-learn
opencv-python

# for SMS
twilio

# conda create -n "w0405" python=3.10.11 ipython
# pip install -r requirements.txt